:root {
  --background-color: #0f1923;
}

H1 { 
  text-align: center;
  color: #ff4655;
  font-size: 50px;
  margin: -40px;
}
H2 { 
  text-align: center;
  color: #ff4655;
  font-size: 30px;
  margin: -40px;
  padding-bottom: 20px;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
}

.btn {
  /* Clean style */
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: none;
  padding: 0;
  color: var(--button-text-color);
  cursor: pointer;
  /* Clean style */
  
  --button-text-color: var(--background-color);
  --button-text-color-hover: var(--button-background-color);
  --border-color: #7D8082;
  --button-background-color: #ece8e1;
  --highlight-color: #ff4655;
  --button-inner-border-color: transparent;
  --button-bits-color: var(--background-color);
  --button-bits-color-hover: var(--button-background-color);
  
  position: relative;
  padding: 8px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  transition: all .15s ease;
}

.btn::before,
.btn::after {
  content: '';
  display: block;
  position: absolute;
  right: 0; left: 0;
  height: calc(50% - 5px);
  border: 1px solid var(--border-color);
  transition: all .15s ease;
}

.btn::before {
  top: 0;
  border-bottom-width: 0;
}

.btn::after {
  bottom: 0;
  border-top-width: 0;
}

.btn:active,
.btn:focus {
  outline: none;
}

.btn:active::before,
.btn:active::after {
  right: 3px;
  left: 3px;
}

.btn:active::before {
  top: 3px;
}

.btn:active::after {
  bottom: 3px;
}

.btn__inner {
  position: relative;
  display: block;
  padding: 20px 30px;
  background-color: var(--button-background-color);
  overflow: hidden;
  box-shadow: inset 0px 0px 0px 1px var(--button-inner-border-color);
}

.btn__inner::before {
  content: '';
  display: block;
  position: absolute;
  top: 0; left: 0;
  width: 2px;
  height: 2px;
  background-color: var(--button-bits-color);
}

.btn__inner::after {
  content: '';
  display: block;
  position: absolute;
  right: 0; bottom: 0;
  width: 4px;
  height: 4px;
  background-color: var(--button-bits-color);
  transition: all .2s ease;
}

.btn__slide {
  display: block;
  position: absolute;
  top: 0; bottom: -1px; left: -8px;
  width: 0;
  background-color: var(--highlight-color);
  transform: skew(-15deg);
  transition: all .2s ease;
}

.btn__content {
  position: relative;
}

.btn:hover {
  color: var(--button-text-color-hover);
}

.btn:hover .btn__slide {
  width: calc(100% + 15px);
}

.btn:hover .btn__inner::after {
  background-color: var(--button-bits-color-hover);
}

.btn--light {
  --button-background-color: var(--background-color);
  --button-text-color: var(--highlight-color);
  --button-inner-border-color: var(--highlight-color);
  --button-text-color-hover: #ece8e1;
  --button-bits-color-hover: #ece8e1;
}

html {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
}
body { padding: 1rem; }

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #fa4454;
  color: #ffffff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: 2px solid #0f1923;
  outline: none;
  transition: 0.4s;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #dc3d4b;
}

.miniaccordion {
  background-color: #fa4454;
  color: #ffffff;
  cursor: pointer;
  padding: 8px;
  width: 100%;
  text-align: left;
  border: 2px solid #0f1923;
  outline: none;
  transition: 0.4s;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .miniaccordion:hover {
  background-color: #dc3d4b;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: #0f1923;
  color: #ffffff;
  display: none;
  overflow: hidden;
  border: 2px solid #0f1923;
}

img {
  max-width: 100vw;
  max-height: 100vh;
  height: auto;
}


.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card {
  background-color: dodgerblue;
  color: white;
  padding: 1rem;
  height: 4rem;
}

.cards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
}

@media (min-width: 300px) {
  .cards { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 600px) {
  .cards { grid-template-columns: repeat(3, 1fr); }
}

@media (min-width: 900px) {
  .cards { grid-template-columns: repeat(4, 1fr); }
}

@media (min-width: 1200px) {
  .cards { grid-template-columns: repeat(5, 1fr); }
}

@media (min-width: 1500px) {
  .cards { grid-template-columns: repeat(6, 1fr); }
}

@media (min-width: 1800px) {
  .cards { grid-template-columns: repeat(7, 1fr); }
}